@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.custom-toast {
  background-color: #ffffff;
  color: rgb(45, 165, 196);
  font-weight: bold;
  border-radius: 8px;
  padding: 16px;
}
